// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  width: 100%;
  border: 1px solid #AAA;
  border-collapse: collapse;
  font-family: Verdana, Helvetica, sans serif;
  font-size: 11px;
}

table tr {
  border-bottom: 1px solid #AAA;
}

table td {
  padding: 10px;
}

pre, pre p {
  white-space: pre-wrap;
  line-height: 1em;
}

.console-output {
  height: 600px;
  overflow: scroll;
  font-family: monospace;
  font-size: 11px;
  width: 100%;
}

table.builds td {
  padding: 2px;
}

.job-builds {
  margin-left: 20px;
}

.blue {
  background-image: url('blue.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
}

.blue_anime {
  background-image: url('blue_anime.gif');
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
}

.blue-small {
  background-image: url('blue_small.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
}

.red {
  background-image: url('red.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
}

.red_anime {
  background-image: url('red_anime.gif');
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
}

.red-small {
  background-image: url('red_small.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
}